.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.mine {
    align-items: flex-end;
}
  
.mine .message {
    margin-left: 25%;
    background: rgb(101, 233, 101);
    position: relative;
    border: 2px solid green;
}